@charset "UTF-8";

*{
    margin: 0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* cabeçalho*/
header > menu > ul{
    text-align: center;
    color:rgba(0, 0, 0, 0.774);
    padding: 26px;
}
header > menu > ul > li{
    display: inline;
    padding:10px;
}


header > menu > ul > li > a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

header > menu > ul > li > a:hover{
    padding: 5px;
    background-color: rgb(40, 127, 156);
    color: white;
}  
.btn{
   
    background-color: rgb(40, 127, 156);
    padding: 30px;
    text-align: center;
    position:sticky;
}

div > input.date{
    padding:10px;
    gap:70px;
    background-color: rgb(40, 127, 156);
    color:white;
    border: 2px solid white;
    text-transform: uppercase;
}
div > input.date:hover{
    cursor: pointer;
}

.btn > input.btnsubmit{
    padding:11px;
    border: 2px solid white;
    width: 150px;
    background-color: white;
    color:rgb(0, 99, 133);
    text-transform: uppercase;
}

.btn > input.btnsubmit{
    cursor: pointer;
}
/* FIM DO CABEÇALHO */

/* IMG */

figure > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* FIM DA IMG */

/* TEXTO */

article {
    width: 900px;
    text-align: center;
    margin:auto;
    padding:10px;
}

article > h1{
    font-family: Arial, Helvetica, sans-serif;
}
article > p{
    padding: 12px 0px;
    text-align: justify;
    letter-spacing:1px ;
}
/* FIM TEXTO */

/* IMG 2*/

.background{
    width:100%;
    height: 450px;
    background-position: left center;
    background-image: url(imagens/pexels-pixabay-53464.jpg);
    box-shadow: inset 5px 5px 20px black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
/* FIM IMG 2 */

/* APRESENTAÇÃO */

section > h2 {
    text-align: center;
    padding: 30px;
    padding-bottom: 50px;
    color: rgb(49, 114, 122);
    font-family: Arial, Helvetica, sans-serif;
}
.amostras{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.apresentacao{
    width: 300px;
    height: 650px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    text-align: justify;
}

.apresentacao > img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.apresentacao > h3{
    text-align: center;
    color: rgb(80, 188, 224);
    font-family: Arial, Helvetica, sans-serif;
}

.apresentacao > p{
    padding:10px;
}

.preço{
    position: relative;
    top:50px;
    color: rgb(0, 0, 0);
}

strong{
    font-size: large;
}
.apresentacao >  .preço > input{
    background-color:rgb(48, 187, 233);
    margin-left: 40px;
    color: white;
    width: 120px;
    padding: 12px;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 4px;    
}

.apresentacao >  .preço > input:hover{
    cursor:pointer;
}
.servicos{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    height: 150px;
}

iframe{
    width: 100%;
    margin-top: 40px;
    margin-bottom: -4px;
}


footer{
    text-align: center;
    width:100% ;
    height: 190px;
    background-color: rgb(46, 97, 131);
}

footer > h2{
    color: white;
    padding: 10px 0px 0px 0px;
} 
footer > h4{
    padding: 0px 0px 20px 0px;
    color:white;
}

footer > #digite{
    padding:17.25px;
    width: 29%;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 4px;
}
.inscrever{
    background-color: rgb(48, 187, 233);
    color:white;
    font-weight: 900;
    padding:18px;
    width: 140px;
    border:none;
    border-radius: 4px;
}

.inscrever:hover{
    cursor:pointer;
}

@media screen and (max-width:1000px){
    #apresentacao1{
        display:none;
    }
    article {
        width: 90vw;
    }
}
@media screen and (max-width:667px){
    #apresentacao3{
        display: none;
    }
}